// Colores
$darktheme-background: #202020;
$darktheme-font-color: white;

$lighttheme-background: #d6d6d6;
$lighttheme-font-color: black;



// Efectos
$default-box-shadow: 1px 2px 9px rgba(0,0,0,0.3);

//Funtes
$title-font: 'Righteous', cursive;
$secundary-font: 'Ubuntu', sans-serif;